
.addProviders-width-100P-height-100P-background-color-F8F8F8{
    width: 100% !important;
     height: 100% !important;
    background-color: #F8F8F8 !important;
}

.addProviders-background-color-white {
    background-color: white !important;
}

.addProviders-background-color-1C6FB2{
    background-color: #1C6FB2 !important;
}

.addProviders-min-width-155px{
    min-width: 155px !important;
}

.addProviders-max-width-140px{
    max-width: 140px !important;
}

.addProviders-max-width-80px{
    max-width: 80px !important;
}

.addProviders-min-width-300px{
    min-width: 300px !important;
}
