.Depositions-float-left-margin-right-auto{
    float: left !important;
        margin-right: auto !important;
}

.Depositions-max-width-1000px{
    max-width: 1000px !important;
}

.Depositions-color-000{
    color: #000 !important;
}

.Depositions-padding-top-0px{
    padding-top: 0px !important
}

.Depositions-display-flex{
    display: flex !important;
}

.Depositions-margin-left-15px{
    margin-left: 15px !important
}

.Depositions-max-width-1200px{
    max-width: 1200px !important;
}

.Depositions-width-91px{
    width: 91px !important;
}

.Depositions-height-401px{
    height: 401px !important;
}

.Depositions-flex-0-0-14P{
    flex: 0 0 14% !important;
}

.Depositions-flex-0-0-15-5P{
    flex: 0 0 15.5% !important;
}

.Depositions-flex-0-0-22-5P{
    flex: 0 0 22.5% !important;
}

.Depositions-flex-0-0-25P{
    flex: 0 0 25% !important;
}

.Depositions-flex-0-0-27P{
    flex: 0 0 27% !important;
}

.Depositions-flex-0-0-32P{
    flex: 0 0 32% !important;
}

.Depositions-flex-0-0-auto{
    flex: 0 0 auto !important;
}

.Depositions-flex-0-0-auto-width-auto{
    flex: 0 0 auto !important;
        width: auto !important;
}

.Depositions-width-75P{
    width: 75% !important;
}

.Depositions-color-093761{
    color: #093761 !important;
}

.Depositions-min-width-270px{
    min-width: 270px !important;
}

.Depositions-width-border-bottom-margin-bottom-text-align-inline-block{
    width: 330px !important;
        border-bottom: 1px solid #ccc !important;
        margin-bottom: 5px !important;
        text-align: right !important;
        display: inline-block !important;
}

.Depositions-width-border-bottom-margin-bottom-text-align-display-margin-right-position-top-right{
    width: 330px !important;
        border-bottom: 1px solid #ccc !important;
        margin-bottom: 5px !important;
        text-align: right !important;
        display: inline-block !important;
        margin-right: 0% !important;
        position: absolute !important;
        top: 22% !important;
        right: 2% !important;
}

.Depositions-width-300px{
    width: 300px !important;
}

.Depositions-margin-bottom-font-size-17px{
    margin-bottom: 0 !important;
        font-size: 17px !important;
}

.Depositions-flex-grow-100{
    flex-grow: 100 !important;
}

.Depositions-font-size-30-px-margin-bottom-1px{
    font-size: 30px !important;
        margin-bottom: 1px !important;
}

.Depositions-width-auto{
    width: auto !important;
}

.Depositions-cursor-pointer-position-absolute-right-9-7P-float-right{
    cursor: pointer !important;
        position: absolute !important;
        right: 9.7% !important;
        float: right !important;
}

.Depositions-position-inherit-right-9-7-cursor-pointer-margin-top-45px-float-right{
    position: inherit !important;
        right: 9.7% !important;
        cursor: pointer !important;
        margin-top: 45px !important;
        float: right !important;
}

.Depositions-padding-5px-border-5px-solid-ccc-margin-top-5px{
    padding: 5px !important;
        border: 5px solid #ccc !important;
        margin-top: 5px !important;
}

.Depositions-color-777{
    color: #777  !important;
}
