.doc-popup-firm-height-25px{
    height: 25px !important
}

.doc-popup-firm-width-8P{
    width: 8% !important
}

.doc-popup-firm-width-42P{
    width: 42% !important
}

.doc-popup-firm-width-6P-padding-left-52px{
    width: 6% !important;
        padding-left: 52px !important;
}

.doc-popup-firm-auto-margin-0-auto-0-auto{
    margin: 0 auto 0 auto !important
}

.doc-popup-firm-width-auto{
    width: auto !important;
}

.doc-popup-firm-width-75P{
    width: 75% !important;
}

.doc-popup-firm-width-90P{
    width: 90% !important;
}

.doc-popup-firm-max-width-90P{
    max-width: 90% !important;
}

.doc-popup-firm-width-91px{
    width: 91px !important;
}

.doc-popup-firm-min-width-270px {
    min-width: 270px !important;
}

.doc-popup-firm-width-400px{
    width: 400px !important;
}

.doc-popup-firm-max-width-1200px{
    max-width: 1200px !important;
}

.doc-popup-firm-text-align-center{
    text-align: center !important;
}

.doc-popup-firm-overflow-visible{
    overflow: visible !important;
}

.doc-popup-firm-background-color-white{
    background-color: #FAFAFA !important;
}

.doc-popup-firm-flex-0-0-13P{
    flex: 0 0 13% !important;
}

.doc-popup-firm-flex-0-0-14P{
    flex: 0 0 14% !important;
}

.doc-popup-firm-flex-0-0-18-5P{
    flex: 0 0 18.5% !important;
}

.doc-popup-firm-flex-0-0-25P{
    flex: 0 0 25% !important;
}

.doc-popup-firm-flex-0-0-12-5P{
    flex: 0 0 12.5% !important;
}

.doc-popup-firm-flex-0-0-auto-width-auto{
    flex: 0 0 auto !important;
        width: auto !important;
}

.doc-popup-firm-flex-0-0-30P-width-auto{
    flex: 0 0 30% !important;
        width: auto !important;
}

.doc-popup-firm-color-000{
    color: #000 !important
}

.doc-popup-firm-background-color-777777{
    background-color: #777777 !important 
}

.doc-popup-firm-font-size-30px-margin-bottom-1px{
    font-size: 30px !important;
        margin-bottom: 1px !important;
}

.doc-popup-firm-color-093761 {
    color: #093761 !important
}

.doc-popup-firm-width-330px-border-bottom-1px-solid-ccc-margin-bottom-5px-text-align-right-display-inline-block{
    width: 330px !important;
        border-bottom: 1px solid #ccc !important;
        margin-bottom: 5px !important;
        text-align: right !important;
        display: inline-block !important;
}

.doc-popup-firm-font-size-30px-margin-bottom-1px{
    font-size: 30px !important;
        margin-bottom: 1px !important;
}

.doc-popup-firm-float-left-margin-right-auto {
    float: left !important;
        margin-right: auto !important;
}

.doc-popup-firm-margin-left-2-5rem{
    margin-left: 2.5rem !important
}

.doc-popup-firm-width-15px-height-15px{
    width: 15px !important;
        height: 15px !important;
}

.doc-popup-firm-display-none{
    display: none !important
}

.doc-popup-firm-border-solid-1px-grey-width-100P-padding-10px{
    border: solid 1px grey;
        width: 100% !important;
        padding: 10px !important;
}

.doc-popup-firm-padding-2rem{
    padding: 2rem !important
}

.doc-popup-firm-border-color-0a3761-background-color-0a3761{
    border-color: #0a3761 !important; 
        background-color: #0a3761 !important;
}

.doc-popup-firm-background-color-grey-border-color-grey-position-absolute-left-14px{
    background-color: grey !important;
        border-color: grey !important;
        position: absolute !important;
        left: 14px !important;
}

.doc-popup-firm-visibility-visible{
    visibility: visible !important;
        
}

.doc-popup-firm-position-absolute-right-14px{
    position: absolute !important;
        right: 14px !important;
}

.doc-popup-firm-width-18P-padding-0px{
    width: 18% !important;
        padding: 0px !important
}

.doc-popup-firm-form-float-left{
    float: left !important
}

.doc-popup-firm-position-relative-height-100P{
    position: relative !important;
        height: 100% !important;
}

.doc-popup-firm-white-space-nowrap{
    white-space: nowrap !important;
}