.Employment-max-width-1000px{
    max-width: 1000px !important;
}

.Employment-margin-0-15px{
    margin: 0 15px !important;
}

.Employment-width-216-5px{
    width: 216.5px !important;
}
.Employment-color-000{
    color: #000 !important;
}
.Employment-width-139-5px{
    width: 139.5px !important;
}
.Employment-float-left-margin-right-auto{
    float: left !important;
        margin-right: auto !important;
}
.Employment-margin-top-3-px{
    margin-top: -3px !important;
}
.Employment-padding-5px{
    padding: 5px !important 
}
.Employment-margin-left-0px-width-100P{
    margin-left: 0px !important;
        width: 100% !important;
}

.Employment-padding-0P{
    padding: 0 !important 
}
.Employment-width-100P-overflow-hidden{
    width: 100% !important;
        overflow: hidden !important;
}
.Employment-height-auto-width-250px{
    height: auto !important;
        width: 250px !important
}
.Employment-margin-top-0px-margin-bottom-5px-font-14px-sans-serif{
    margin-top: 0px !important;
        margin-bottom: 5px !important;
        font: 14px sans-serif !important;
}
.Employment-margin-bottom-5px-font-14px-color-black{
    margin-bottom: 5px !important;
        font: 14px !important;
        color: black !important;
}

.Employment-font-14px-sans-serif{
    font: 14px sans-serif !important;
}

.Employment-width-100P{
    width: 100% !important
}
.Employment-color-grey-font-14px-width-100P-text-align-center{
    color: grey !important;
        font: 14px !important;
        width: 100% !important;
        text-align: center !important;
}

.Employment-color-grey-font-size-14px{
    color: grey !important;
        font-size: 14px !important;
}
.Employment-position-relative-height-49px-width-100P-margin-left-0px-margin-top-3px-margin-bottom-0px{
    position: relative !important;
        height: 49px !important;
        width: 100% !important;
        margin-left: 0px !important;
        margin-top: 3px !important;
        margin-bottom: 0px !important;
}

.Employment-height-39px{
    height: 39px !important
}
.Employment-position-relative-top-5-5px-width-250px-height-53px-margin-left-5px-border-none-display-flex-justify-content-flex-end-align-items-flex-end{
    position: relative !important;
        top: -5.5px !important;
        width: 250px !important;
        height: 53px !important;
        margin-left: 5px !important;
        border: none !important;
        display: flex !important;
        justify-content: flex-end !important;
        align-items: flex-end !important;
}
.Employment-width-290px{
    width: 290px !important
}
.Employment-margin-bottom-5px-font-14px-color-aaa{
    margin-bottom: 5px !important;
        font: 14px !important;
        color: #aaa !important 
}
.Employment-margin-top-0px-margin-bottom-5px-font-14px-color-aaa{
    margin-top: 0px !important;
        margin-bottom: 5px !important;
        font: 14px !important;
        color: #aaa !important
}
.Employment-background-color-F5E8E9{
    background-color: #F5E8E9 !important
}

.Employment-margin-top-47px{
    margin-top: -47px !important
}

.Employment-font-size-20px-margin-bottom-1px{
    font-size: 20px !important;
        margin-bottom: 1px !important;
}

.Employment-display-flex-justify-content-space-between-width-100P{
    display: flex !important;
        justify-content: space-between !important;
        width: 100% !important;
}

.Employment-margin-top-5px{
    margin-top: 5px !important
}