

.incident-report-background-fff{
    background: #fff !important 
}

.incident-report-padding-top-27px{
    padding-top: 27px !important 
}

.incident-report-background-color-0A3761{
    background-color: #0A3761 !important 
}



.incidentReport-max-width-1300px{
    max-width: 1300px !important
}

.incidentReport-margin-0-15px{
    margin: 0 15px !important
}

.incidentReport-width-355-5px{
    width: 355.5px !important
}

.incidentReport-color-000{
    color: #000  !important
}

.incidentReport-float-left-margin-right-auto{
    float: left !important;
        margin-right: auto !important
}

.incidentReport-width-139-5px{
    width: 139.5px !important
}
