

.search-other-party-color-grey{
    color: grey !important;
}

.search-other-party-color-black{
    color: black !important; 
}

.search-other-party-width-auto-text-align-center{
    width: auto !important;
        text-align: center !important; 
}

.search-other-party-width-5P-text-align-center{
    width: 5% !important;
        text-align: center !important; 
}

.search-other-party-width-10P-text-align-center{
    width: 10% !important;
        text-align: center !important;
}
