.search-city-width-auto-text-align-center{
    width: auto !important;
        text-align: center !important
}

.search-city-width-10P-text-align-center{
    width: 10% !important;
        text-align: center !important;
}

.search-city-width-5P-text-align-center{
    width: 5% !important;
        text-align: center !important; 
}