/* table {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */


.radio-btn-container {
    display: grid;
    grid-template-columns: 0.175fr 0.825fr;
    width: 100%;
}

.percentage-container {
    position: relative;
}

.percentage-container::after {
    content: '%';
    position: absolute;
    right: 10px; /* Adjust this value according to your needs */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure it doesn't interfere with input interactions */
}

.common-percentage-values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-between;
    width: 50%;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
}

.common-percentage-values div {
    display: flex;
    align-items: center;
}

.common-percentage-values label {
    display: block;
    margin: 0;
}

.amount-value {
    justify-content: flex-end;
    font-family: Inconsolata, monospace;
    font-size: 16px;
}

.btn-container {
    justify-content: flex-start;
}

.grid-table {
    font-size: 14px !important;
    overflow: hidden !important;
}

.radio-btn-container input[type="number"] {
    width: 5rem !important;
}

.radio-btn-container input[type="radio"] {
    margin-right: 10px;
    color: var(--primary);
    margin-top: 2px;
    height: 20px;
    width: 20px;
    /* Make sure radio buttons are centered */
    margin-left: 10px;
}

.add-row-heading {
    display: flex;
    align-items: center;
}


.finance_summary_cost input[type="text"],
div.t-row input[type="text"] {
    border: 1px solid #3d3c3c;
    border-radius: 5px;
    text-align: right;
    width: 125px;
}

.finance_details_main h2,
.finance_details h2 {
    display: inline-block;
    width: 50% !important;
}

.finance_details_main {
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.finance_details {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    height: 25px;
}

.finance_details h4 {
    margin-left: 5px;
    font-size: 14px !important;
}

.finance_summary {
    display: flex;
    width: 638px !important;
    align-items: center;
}

.finance_summary div {
    width: 150px !important;
    text-align: right !important;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
}

.finance_summary div span {
    display: block;
}

.finance_summary_main div,
.finance_summary div {
    padding: 5px;
    width: calc(100% / 3);
    display: flex;
}

.finance_summary_main h4 {
    width: 100%;
}

.finance_summary_main div {
    padding: 5px 15px;
}

.finance_summary_main {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 638px;
    flex-wrap: wrap;
    height: min-content;
}

.add-button-panel {
    background-color: var(--primary);
    color: white;
    width: 30px;
    height: 30px;
    border: 1px solid #007bff;
    margin-left: 15px;
}

.panel-title {
    display: flex;
    flex-direction: row;
    width: 50% !important;
    align-items: center;
}

.panel-title h4 {
    width: 75% !important;
}

.panel-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 !important;
}

.panel-container > * {
    width: 100%;
}


.green-div {
    color: rgba(38, 88, 40) !important;
}

.red-div {
    color: rgba(255, 0, 0, 1) !important;
}

.cost-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.res-table {
    width: calc(100% - 10px) !important;
}


.grid-thead {
    width: 100% !important;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary) !important;
    text-transform: uppercase;
    background-color: var(--primary-5);
    height: 25px;
    align-items: center;
}

.grid-thead p {
    text-align: center;
}

.settle-draft,
.settle-final {
    width: 170px !important;
    flex-grow: 0 !important;
    text-align: center !important;
    padding-left: 3px;
    padding-right: 3px;
}

.grid-thead .settle-cheque-date,
.grid-thead .settle-cheque-number {
    width: 100px !important;
    flex-grow: 0 !important;
    text-align: center !important;
}

.settle-verify,
.settle-cheque {
    width: 69px !important;
    flex-grow: 0 !important;
    text-align: center !important;
}

.grid-thead .min-width {
    width: 100px !important;
    flex-grow: 0;
}

.grid-table .t-tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flexible-width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 638px);
}

.remaining-amount-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 638px);
}

.flexible-width-m {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 663px);
}

.t-row .settle-draft,
.t-row .settle-final {
    width: 150px !important;
    flex-grow: 0 !important;
    text-align: right;
}

.settle-cheque-date, .settle-cheque-number {
    width: 100px !important;
    flex-grow: 0 !important;
    height: 33px !important;
    text-align: center !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.min-width {
    width: 100px !important;
    flex-grow: 0 !important;
}

.min-width button {
    white-space: nowrap !important;
    margin: 0;
    font-size: 14px;
    height: 25px;
    overflow: hidden;
    max-width: 80px;
    text-overflow: ellipsis !important;
    background-color: var(--primary);
    color: white;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.table-responsive-c {
    display: block;
    width: 100% !important;
    border-radius: 0 !important;
}

.settle-check-request-btn {
    width: 200px;
    height: 23px;
    display: flex;
    align-items: center;
}

.settle-check-request-btn button, .settle-check-request-btn .btn {
    box-sizing: border-box;
    width: max-content;
    padding: 5px 5px;
    background-color: #0b3d6bea;
    color: white;
    font-size: 14px;
    border: none;
    height: 25px !important;
    line-height: 10px;
    border-radius: 0 !important;
}

.initial-button {
    height: 25px;
    min-width: 150px !important;
    width: 150px !important;
    font-size: 16px;
    text-align: right !important;
    padding-right: 5px;
    white-space: nowrap;
    justify-self: flex-end;
    font-family: Inconsolata, monospace;

}

.finance_summary_cost {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    width: 788px !important;
}

.background-white {
    background: white !important;
}

input.locked-input {
    border-color: transparent !important;
    background-color: transparent !important;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.action-bar-panel-heading {
    background-color: var(--primary-5);
    height: 25px;
}

.action-bar-panel-heading .pancil-button button {
    color: rgb(255, 215, 0) !important;
    height: 25px;
    width: 25px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-specialty-provider {
    width: 25px;
    height: 25px;
    padding-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-lock-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
}

.input-lock-container img {
    height: 24px;
}

.input-lock-container input {
    font-family: Inconsolata, monospace;
    font-size: 16px;
    text-align: right;
    justify-self: flex-end;
    padding-right: 2px;
    padding-left: 2px;
}

.action-bar-panel-heading .text-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    height: 25px;
    width: 300px;
    position: relative;
}

.action-bar-panel-heading div {
    z-index: 20;
}

.action-bar-panel-heading .text-wrapper::after {
    z-index: 1;
    content: "";
    display: block;
    height: 25px;
    position: absolute;
    left: 300px;
    width: 300px;
    z-index: 10;
    background: linear-gradient(90deg, var(--primary) 0%, var(--primary-5) 100%);
}


.settle-final, .settle-final-h {
    height: 33px;
    background-color: #E0F2F1;
    align-items: center;
    width: 170px;
}

.settle-draft, .settle-draft-h {
    height: 33px;
    width: 170px;
    background-color: #D0E1F9;
    align-items: center;

}

.settle-draft-h, .settle-final-h {
    font-family: Inconsolata, monospace;
    font-size: 16px;
    padding-right: 6px !important;
}

.settle-verify {
    height: 33px;
}

.settle-verify, .settle-final, .settle-draft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.negative-values {
    color: red !important;
}

.positive-values {
    color: green !important;
}

.c-w {
    height: 33px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    text-overflow: clip;
    overflow: clip;
    white-space: nowrap;
}

.c-w:not(.offer-date):not(.amount-h):not(.amount):not(.index-col) {
    min-width: 100px;
}

div.c-w {
    height: 35px;
    white-space: nowrap;
}

p.c-w {
    height: 25px;
    text-align: center;
}

.c-w.medical-provider-dollar-values {
    width: 150px;
    text-align: right;
    justify-content: flex-end;
}

.c-w.medical-provider-dollar-heading {
    width: 150px;
    text-align: center;
    justify-content: center;
}

.c-w.initial-button {
    width: 150px;
    text-align: right;
    justify-content: flex-end;
    font-family: Inconsolata, monospace;
    font-size: 16px;
}

.medical-provider-dollar-values {
    width: 150px;
    text-align: right;
    justify-content: flex-end;
}

.c-w.notes {
    text-align: left;
    text-overflow: clip;
    white-space: nowrap;
    overflow: clip;
    justify-self: flex-start;
    flex-grow: 1;
}

.provider-name {
    width: 185px;

}

.provider-name-heading {
    width: 210px;
    text-align: center !important;
    justify-content: center !important;
}

.provider-name-heading {
    text-align: center;
    justify-content: start;
}

.provider-name {
    padding-right: 5px;
    padding-left: 5px;
    text-align: left !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: clip;
}

.c-w.firm-user {
    /* take maximum available space in flexbox */
    width: 150px !important;
}

.c-w.amount-h {
    width: 150px;
    text-align: center !important;
    justify-content: right;
}

.c-w.amount {
    width: 150px;
    text-align: right;
    justify-content: right;
    font-family: Inconsolata, monospace;
    font-size: 16px;
}

.offer-date {
    box-sizing: border-box;
    width: 100px;
    text-overflow: clip;
    white-space: nowrap;
}

.justify-self-end {
    justify-self: flex-end;
}

.settle-check-request-btn, .settle-cheque, .settle-verify, .settle-cheque-date, .settle-cheque-number, .settle-draft, .settle-final {
    z-index: 1000;
}

.trust-ledger-btn {
    color: white;
    z-index: 100;
    justify-self: end;
}

.trust-ledger-btn a {
    text-decoration: none;
    color: inherit;

}

.table-responsive.table--no-card {
    border: none !important;
}

.medical-bills-total {
    height: 33px;
    flex: 1;
    display: flex;
    position: relative;
    z-index: 10000;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 !important;
    margin: 0 !important;
}

div.grid-thead p.settle-draft, div.grid-thead p.settle-final {
    height: 25px;
}

.w-max-content {
    width: max-content;
}

.flexible-width-main {
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 678px);
}

.monospace-font {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
}

.settle-draft-h span, .settle-final-h span {
    font-size: 16px !important;
}

span.font-family-inter {
    font-family: Inter;
}

.action-bar__total-labels, .action-bar__total-amount {
    width: 150px;
    text-align: right;
}

.img-rotate-270 {
    transform: rotate(270deg);
}


.settlement-page-action-bar__button {
    width: 100%;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.settlement-float-left-margin-right-auto {
    float: left !important;
    margin-right: auto !important;
}

.settlement-margin-background-color-margin-right {
    margin: auto !important;
    background-color: var(--primary) !important;
    margin-right: 0px !important;
}

.settlement-float-margin-background-color-margin-right {
    float: right !important;
    margin: auto !important;
    background-color: var(--primary) !important;
    margin-right: 0px !important;
}

.index-col {
    width: 25px;
    text-align: right;
    justify-content: flex-end;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.client-BarAlign {
    left: 132px !important;
    background-color: white !important;
}

.profile-column {
    width: 200px;
}


/* Ahsan Changes for layout */

#tb-header th {
    vertical-align: middle;
    line-height: 1;
    font-size: 14px;
    font-weight: 600 !important;
    padding: 0px 5px !important;
    color: var(--primary) !important;
    background-color: #fff !important;
    text-transform: uppercase !important;
    white-space: nowrap !important;

}

.initial-btn {
    width: 150px !important;
    min-width: 150px !important;
}

.initial-btn-1 {
    width: 150px !important;
}

.s-draft,
.s-final, .s-demand, .s-original, .s-paid, .s-med-pay, .reduction, .s-disbursed, .s-amt {
    width: 170px !important;
    max-width: 170px !important;
}

#tb-header .s-draft {
    background: rgba(208, 225, 249, 0.3) !important;
}

#tb-header .s-final {
    background: rgba(224, 242, 241, 0.3) !important;
}

.s-draft {
    background: rgba(208, 225, 249, 0.3);
}

.s-draft input {
    background: rgba(208, 225, 249, 0);
}

.s-final {
    background: rgba(224, 242, 241, 0.3);
}

.s-final input {
    background: rgba(224, 242, 241, 0);
}

.s-verify, .s-cheque {
    width: 69px !important;
    max-width: 69px;
}

.s-check-date, .s-check-num, .s-offer-date {
    width: 100px !important;
    max-width: 100px;
}

.check-mix {
    width: 200px !important;
    max-width: 200px !important;
}

#lock-image {
    width: 16px !important;
    height: 24px !important;
    margin-right: 5px;

}

.s-draft input, .s-final input, #lock-input {
    height: 24px !important;
    width: 140px !important;
    padding-right: 2px;

}

.final-input {
    width: 120px !important;
    height: 24px !important;
}

.unlock-input {
    border-radius: 5px !important;
    border: 1px solid black !important;
}

.c-percentage {
    width: 100px;
}

#body-table tr, #body-table tr td {
    height: 33px !important;
    box-sizing: border-box;
}

#body-table tr.height-25, #body-table tr.height-25 td {
    height: 23px !important;
    box-sizing: border-box;
}

#nomargin .btn {
    margin-left: 5px !important;
}

.btn-wrapper-settle {
    justify-content: flex-end;
    margin-right: auto;
    width: 50%;
}

@media screen and (min-width: 1440px) {
    .btn-wrapper-settle {
        padding-right: 5%;
    }
}

@media screen and (min-width: 1680px) {
    .btn-wrapper-settle {
        padding-right: 10%;
    }
}

@media screen and (min-width: 2000px) {
    .btn-wrapper-settle {
        padding-left: 300px;
        padding-right: 300px;
    }
}

table tr.amin-color {
    background-color: var(--primary);
}

table tr.not-main-color {
    background-color: var(--primary-5);
}

.custom-modal-size {
    max-width: 1000px !important;
}
