.modal.show {
    display: block;
    background-color: rgba(0, 0, 0, 0.5); /* Darken background when modal is open */
    z-index: 1050; /* Ensure modal appears in the front */
  }
  
  .modal-dialog {
    max-width: 800px; /* Adjust the width as needed */
  }
  
  .modal-content {
    background-color: white; /* Ensure the modal background is not transparent */
    padding: 20px;
    border-radius: 5px;
  }
  
  .custom-modal {
    z-index: 1051;
}
.custom-modal-backdrop {
    z-index: 1050;
}