.document-pop-up-bottom-bar {
  background: var(--primary-30) !important;
}

.document-search-text-color {
  color: var(--primary-50) !important;
}

.document-height-25px {
  height: 25px !important;
}
