#provider-table .table tbody tr td {
  width: auto;
  text-align: start !important;
  white-space: normal !important;
  padding: 5px 10px !important;
}
#provider-table .table thead tr th {
  padding: 10px !important;
  text-align: start !important;
}
#provider-table {
  overflow-x: auto;
  max-width: 86vw;
}

@media (max-width: 1080px) {
  #provider-table {
    max-width: 100vw;
  }
}
